@use "bootstrap-utils" as bootstrap;

$container-padding: 8rem;

.schedule {
	h1 {
		text-align: center;

		@include bootstrap.rfs(8rem, margin-bottom);
	}

	margin: 10rem 1rem;

	@include bootstrap.media-breakpoint-up(md) {
		margin: 10rem 7rem;
	}

	h2 {
		text-align: center;
	}
}
