@use "bootstrap-utils" as bootstrap;
@use "zothacks-theme" as theme;

$highlighter: rgba(theme.$yellow, 0.7);
$skew-amount: -30deg;

.applyButton {
	@include bootstrap.button-variant(
		$highlighter,
		$highlighter,
		$hover-border: theme.$black,
		$active-border: theme.$black
	);
	@include bootstrap.rfs(6rem, --bs-btn-padding-x);
	--bs-btn-font-weight: bold;
	--bs-btn-border-width: 4px;

	@include bootstrap.font-size(bootstrap.$h2-font-size);

	transform: skew($skew-amount);
	// unskew children
	> * {
		transform: skew(-$skew-amount);
	}

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}
