@use "bootstrap-utils" as bootstrap;
@use "zothacks-theme" as theme;

$highlighter: rgba(theme.$yellow, 0.7);
$skew-amount: -30deg;

.applyButton {
	@include bootstrap.button-variant(
		$highlighter,
		$highlighter,
		$hover-border: theme.$black,
		$active-border: theme.$black
	);
	--bs-btn-font-weight: bold;
	--bs-btn-border-width: 4px;

	@include bootstrap.font-size(bootstrap.$h4-font-size);

	max-width: 70%;
	transform: skew($skew-amount);
	// unskew children
	> * {
		transform: skew(-$skew-amount);
	}

	box-shadow:
		2px 3px 8px rgba(black, 0.2),
		4px 6px 16px rgba(black, 0.2);

	&:hover,
	&:focus {
		text-decoration: underline;
		box-shadow:
			2px 3px 16px rgba(black, 0.3),
			4px 6px 32px rgba(black, 0.3);
	}
}
