.applyButtonContainer {
	position: relative;
}

.applyButton {
	position: relative;
	transform: skew(-30deg);
	height: 100px;
	width: 300px;
	margin: 0px;

	transition: all 0.1s ease;

	&:hover {
		border: black solid 6px;

		h2:nth-of-type(1) {
			text-decoration: underline;
		}
	}
}

.applyButtonText {
	position: absolute;
	top: 50%;
	left: 55%;
	transform: skew(30deg) translate(-50%, -50%);
}
