@use "bootstrap-utils" as bootstrap;
@use "zothacks-theme" as theme;

.accordion {
	padding-top: 50px;
	padding-bottom: 100px;
	@include bootstrap.rfs(7.5rem, border-radius);
	border: 3px solid black;
	--bs-accordion-btn-icon: url("~@/assets/icons/accordion-btn.svg");
	--bs-accordion-btn-active-icon: url("~@/assets/icons/accordion-btn.svg");
	--bs-accordion-btn-icon-width: 25px;

	button::after {
		margin-left: 1rem;
	}
}

.clip {
	position: absolute;
	width: 75%;
	top: 1%;
	left: 50%;
	transform: translate(-50%, -55%);
	z-index: 10;

	@include bootstrap.media-breakpoint-up(lg) {
		width: 60%;
	}
}
.clipboard {
	@include bootstrap.rfs(7.5rem, border-radius);
	background-color: theme.$brown;
	padding: 5px;
	border: 1.25rem solid theme.$brown;
}

.clipboardPaper {
	@include bootstrap.rfs(7.5rem, border-radius);
	background-color: white;
}

.accordionItem {
	border-top: 2px solid theme.$light-blue;
	border-bottom: 2px solid theme.$light-blue;
}

.eventTitle {
	font-size: 24px;
}

.mobileLocation {
	text-align: left;

	@include bootstrap.media-breakpoint-up(lg) {
		text-align: right;
	}
}
