@use "zothacks-theme" as theme;

.group {
	margin-top: 50px;
	width: 344px;
	position: relative;
	padding: 1rem 0;
	box-shadow: 0 6px 5px -2px rgba(gray, 0.5);
}

.tape {
	background-image: url("~@/assets/images/tape.svg");
	width: 238px;
	height: 60px;
	position: absolute;
	top: -12.5%;
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 350px;
}

.tag {
	background-image: url("~@/assets/images/resource-link.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: left;
	display: inline-block;
	padding: 1rem;
	padding-right: 3rem;
	margin-left: -6px;
	margin-bottom: 0.5rem;
	transition:
		filter 0.13s ease,
		transform 0.13s ease,
		filter 0.13s ease;

	color: theme.$black;
	text-decoration: none;
	font-weight: bold;

	transform: translateZ(0px);

	&:hover,
	&:focus {
		transform: translateX(-5px);
		filter: drop-shadow(1px 0px 0px black) drop-shadow(-2px 0px 0px black)
			drop-shadow(0px 2px 0px black) drop-shadow(0px -2px 0px black);
	}
}

.text {
	width: 90%;
	text-align: center;
}
