@use "bootstrap-utils" as utils;

.applyButton {
	position: relative;
	transform: skew(-30deg);
	height: 90px;
	width: 250px;
	border: none;
	background-color: rgba(utils.$yellow, 0.7);
	transition: border 0.1s ease;

	&:hover {
		border: black solid 6px;

		h1 {
			text-decoration: underline;
		}
	}
}

.applyButtonText {
	color: black;
	position: absolute;
	top: 50%;
	left: 55%;
	transform: skew(30deg) translate(-50%, -50%);
}
