@use "zothacks-theme" as theme;

.applyButton {
	position: relative;
	transform: skew(-30deg);
	height: 90px;
	width: 300px;
	border: none;
	background-color: rgba(theme.$yellow, 0.7);
	transition: outline 0.08s ease-in-out;
	display: inline-block;

	&:hover {
		outline: black solid 6px;

		span {
			text-decoration: underline;
		}
	}
}

.applyButtonText {
	color: black;
	position: absolute;
	top: 50%;
	left: 55%;
	transform: skew(30deg) translate(-50%, -50%);
}
