@use "zothacks-theme" as theme;
@use "bootstrap-utils" as utils;

.faq {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 80vw;

	padding-bottom: 1.875rem;
	background-color: theme.$beige;
}

.container {
	padding-top: 6rem;
	padding-bottom: 6rem;
	display: flex;
	justify-content: center;
}

.title {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.vertical-line {
	position: absolute;
	justify-self: flex-start;

	height: 100%;
	width: 45px;
	border-right: 3px solid rgba(theme.$red, 0.45);
}

.body {
	margin-left: 40px;
	margin-right: 10px;
}

.accordion {
	--bs-accordion-btn-icon-width: 14px;
	--bs-accordion-btn-icon: url("~@/assets/icons/plus-lg.svg");
	--bs-accordion-btn-active-icon: url("~@/assets/icons/dash-lg.svg");
}

.accordion-border {
	border-bottom: 2px solid theme.$light-blue;
	border-top: 2px solid theme.$light-blue;
}

.star-lg {
	position: absolute;
	left: -60px;
	top: -120px;
	transform: rotate(-25deg);
	filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));

	width: 200px;
	height: 200px;
	visibility: hidden;
}

.star-sm {
	position: absolute;
	right: -25px;
	top: -60px;
	transform: rotate(15deg);
	filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));

	width: 120px;
	height: 120px;
}

.eraser {
	position: absolute;
	left: -80px;
	bottom: -110px;
	filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));

	width: 220px;
	height: 220px;
}

@include utils.media-breakpoint-up(sm) {
	.body {
		margin-left: 60px;
	}

	.vertical-line {
		width: 70px;
	}
}

@include utils.media-breakpoint-up(md) {
	.body {
		margin-left: 110px;
	}

	.vertical-line {
		border-right: 4px solid rgba(theme.$red, 0.45);
		width: 116px;
	}

	.accordion-border {
		border-bottom-width: 3px;
		border-top-width: 3px;
	}

	.star-lg {
		visibility: visible;
	}

	.star-sm {
		visibility: hidden;
	}

	.eraser {
		visibility: hidden;
	}
}
