@use "bootstrap-utils" as bootstrap;

.intro {
	@include bootstrap.padding(10rem 0.5rem);
	margin-left: 10px;
	margin-right: 10px;

	background-image: url("~src/assets/images/index-card-mobile.svg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	position: relative;
	text-align: center;
	box-shadow:
		4px 4px 5px 4px rgba(0, 0, 0, 0.2),
		-1px -1px 8px 4px rgba(0, 0, 0, 0.2);

	h2 {
		@include bootstrap.margin-bottom(3rem);
	}

	@include bootstrap.media-breakpoint-up(sm) {
		@include bootstrap.padding(8rem 4rem);
		background-image: url("~@/assets/images/index-card.svg");
		background-size: 100% 100%;
		box-shadow: none;
	}
}

.pin {
	position: absolute;
	top: -12%;
	left: 45%;
	width: auto;

	@include bootstrap.media-breakpoint-down(xl) {
		left: 45%;
	}
	@include bootstrap.media-breakpoint-down(lg) {
		left: 40%;
	}
	@include bootstrap.media-breakpoint-down(md) {
		left: 35%;
	}
}

.hackDoodle {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(-25%, 50%);
	width: auto;

	@include bootstrap.media-breakpoint-down(lg) {
		display: none;
	}
}
