@use "bootstrap-utils" as bootstrap;

.intro {
    background-image: url("~src/assets/images/index-card.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5rem 1rem;
    position: relative;
    text-align: center;

    h2 {
        margin-bottom: 70px;
    }

    @include bootstrap.media-breakpoint-up(sm) {
        & {
            padding: 8rem 4rem;
        }
    }
}

.pin {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-75%, -50%);
    width: auto;
}

.hackDoodle {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-25%, 50%);
    width: auto;

    @include bootstrap.media-breakpoint-down(lg) {
        & {
            display: none;
        }
    }
}