{
	"extends": "@sanity/eslint-config-studio",
	"plugins": ["sanity-studio"],
	"rules": {
		"sanity-studio/define-array-member-helper": "error",
		"sanity-studio/define-field-helper": "error",
		"sanity-studio/define-type-helper": "error"
	}
}
