@use "@/lib/styles/variables.scss" as variables;

$red: #ff0000;

.nav {
	font-family: variables.$fuzzy-bubbles;
	font-weight: 700;
	background-image: url("../../assets/Lined\ Paper.svg");
	background-position: center;
}

.home {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 36px;
}

.home:active {
	color: variables.$green;
}

.home:hover {
	color: variables.$green;
}

.resources {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 36px;
}

.resources:hover {
	color: variables.$blue;
}

.schedule {
	font-size: 36px;
	margin-left: 10px;
	margin-right: 20px;
}

.schedule:hover {
	color: $red;
}

// @import "../../../../../node_modules/bootstrap/scss/bootstrap.scss";
