@use "@/lib/styles/variables.scss" as variables;

.nav {
	background-image: url("../../assets/images/lined_paper.svg");
	background-size: cover;
	background-position: left top;
	background-repeat: no-repeat;
}

.logo {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 20vw;
	height: 20vw;
	text-align: center;
}

.homeNotActive,
.resourcesNotActive,
.scheduleNotActive {
	margin-left: 1vw;
	margin-right: 1vw;
	font-size: 2rem;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.homeActive {
	margin-left: 1vw;
	margin-right: 1vw;
	font-size: 2rem;
	font-weight: bold;
	color: black;
	text-decoration: none;
	color: variables.$green;
}

.resourcesActive {
	margin-left: 1vw;
	margin-right: 1vw;
	font-size: 2rem;
	font-weight: bold;
	color: black;
	text-decoration: none;
	color: variables.$blue;
}

.scheduleActive {
	margin-left: 1vw;
	margin-right: 1vw;
	font-size: 2rem;
	font-weight: bold;
	color: black;
	text-decoration: none;
	color: variables.$navbar-red;
}

@include variables.media-breakpoint-down(md) {
	.nav {
		background-size: auto 64px;
		background-repeat: repeat;
	}
	.logo {
		left: 1.8vw;
		top: 1.8vw;
	}
	.homeNotActive,
	.resourcesNotActive,
	.scheduleNotActive,
	.homeActive,
	.resourcesActive,
	.scheduleActive {
		font-size: 1.5rem;
	}
}
