@use "@/lib/styles/variables.scss" as variables;

$red: #ff0000;

.nav1 {
	background-image: url("../../assets/images/lined_paper.svg");
	background-size: cover;
	background-position: left top;
	background-repeat: no-repeat;
}

.home,
.resources,
.schedule {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 36px;
	// font-family: variables.$fuzzy-bubbles;
	font-weight: bold;
	// font-style: normal;
	color: #000000;
	line-height: normal;
}

.home:hover {
	color: variables.$green;
}

.resources:hover {
	color: variables.$blue;
}

.schedule:hover {
	color: $red;
}
