@use "zothacks-theme" as theme;
@use "bootstrap-utils" as utils;

.container {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.title {
	text-align: center;
}

.clipboard {
	position: relative;
	padding: 64px 32px 48px 32px;
	min-height: 512px;
	width: 80%;
	margin: 0 auto;
	border: 20px solid #aa703c;
	border-radius: 100px;
	background: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	@include utils.media-breakpoint-up(sm) {
		padding: 32px 32px 48px 32px;
	}
}

.clip {
	height: 192px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%) rotate(90deg);
	top: -105px;

	@include utils.media-breakpoint-up(sm) {
		height: 256px;
		top: 50%;
		transform: translateY(-50%);
		left: -85px;
	}
}

.logos {
	flex-grow: 1;
	display: grid;
	align-items: center;
	align-content: center;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, 192px);
	gap: 32px;

	@include utils.media-breakpoint-up(sm) {
		padding-left: 24px;
		grid-template-columns: repeat(auto-fill, 256px);
	}

	@include utils.media-breakpoint-up(md) {
		grid-template-columns: repeat(auto-fill, 384px);
		padding-left: 48px;
	}
}

.logo {
	width: 100%;
}
