@use "~@/lib/styles/variables.scss" as variables;

body {
	background-color: variables.$white;
}

h1 {
	font-family: variables.$fuzzy-bubbles;
	font-weight: bold;
}

.background {
	background-image: url("../assets/background/anteater_background.svg");
	background-size: "100% 100%";
	background-position: 50% 25%;
	background-attachment: fixed;
}
