@use "~@/lib/styles/variables.scss" as variables;

body {
	background-color: variables.$white;
}

h1 {
	font-family: variables.$fuzzy-bubbles;
	font-weight: bold;
}

.background {
	background-image: url('../assets/background/anteater_background.svg');
	background-repeat: 'no-repeat';
	background-size: 'cover';
	background-position: center center;
	min-height: 100vh;
	min-width: 100vw;
}