.bookmarkLink {
    background-image: url("~@/assets/images/bookmark.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    text-decoration: none;
    color: black;
    padding-left: 2.5rem;
    padding-right: 3rem;
    transition: background-image 0.2s ease, font-weight 0.2s ease;

    &:hover {
        background-image: url("~@/assets/images/bookmark_border.png");
        transition: background-image 0.2s ease, font-weight 0.2s ease;
        color: black;
        font-weight: bold;
    }
}